click==8.1.7 ; python_version >= "3.10"
colorama==0.4.6 ; python_version >= "3.10"
cython==3.0.11 ; python_version >= "3.10"
deprecated==1.2.14 ; python_version >= "3.10"
exceptiongroup==1.2.2 ; python_version < "3.11" and python_version >= "3.10"
formulaic==1.0.2 ; python_version >= "3.10"
iniconfig==2.0.0 ; python_version >= "3.10"
interface-meta==1.2.5 ; python_version >= "3.10"
linearmodels==6.1 ; python_version >= "3.10"
markdown-it-py==3.0.0 ; python_version >= "3.10"
mdurl==0.1.2 ; python_version >= "3.10"
mypy-extensions==1.0.0 ; python_version >= "3.10"
numpy==2.1.2 ; python_version >= "3.10"
packaging==24.1 ; python_version >= "3.10"
pandas==2.2.3 ; python_version >= "3.10"
pathspec==0.12.1 ; python_version >= "3.10"
patsy==0.5.6 ; python_version >= "3.10"
platformdirs==4.3.6 ; python_version >= "3.10"
pluggy==1.5.0 ; python_version >= "3.10"
pretty-errors==1.2.25 ; python_version >= "3.10"
pygments==2.18.0 ; python_version >= "3.10"
pyhdfe==0.2.0 ; python_version >= "3.10"
pytest==8.3.3 ; python_version >= "3.10"
python-dateutil==2.9.0.post0 ; python_version >= "3.10"
pytz==2024.2 ; python_version >= "3.10"
rich==13.9.2 ; python_version >= "3.10"
scipy==1.14.1 ; python_version >= "3.10"
setuptools-scm[toml]==8.1.0 ; python_version >= "3.10"
setuptools==75.1.0 ; python_version >= "3.10"
six==1.16.0 ; python_version >= "3.10"
statsmodels==0.14.4 ; python_version >= "3.10"
tomli==2.0.2 ; python_version < "3.11" and python_version >= "3.10"
tqdm==4.66.5 ; python_version >= "3.10"
typing-extensions==4.12.2 ; python_version >= "3.10"
tzdata==2024.2 ; python_version >= "3.10"
wrapt==1.16.0 ; python_version >= "3.10"